<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494352844171-oc38uppa5u030npa9b5vehvkc7ohmom9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494352844171-oc38uppa5u030npa9b5vehvkc7ohmom9</string>
	<key>API_KEY</key>
	<string>AIzaSyCCigRmfh-qIeKJTZjHpn5tFEsSliw9nxA</string>
	<key>GCM_SENDER_ID</key>
	<string>494352844171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whileapp</string>
	<key>PROJECT_ID</key>
	<string>while-d0cf7</string>
	<key>STORAGE_BUCKET</key>
	<string>while-d0cf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494352844171:ios:5461975b53c056598cdb8e</string>
</dict>
</plist>